:root {

    --main-color: #ffffff;
    --border-color: #d6d6d6; 
     --hover-color: #f5f5f5;
     --dark-mode-hover-color: #3d3d3d
     --dark-mode-border-color: #3d3d3d
    --default-color: #e3e3fe;
    --hilight-color: #4a47b1;
    --selection-active-color: #a5d8ff;
    /* --text-color: #727272; */
    --text-color: #121212;
    --text-another-color: #6e6e6e;
    --label-color: #b4b4b4;
    --muted-text-color: #b8b8b8;
    --dark-mode-color: #121212;
    --dark-mode-text-color: #b8b8b8;
    --default-font-size: 21px;
    --tab-color: #5B57D1;  /* need to change the color name */
    --dark-mode-tab-color: #B2AEFF;
    --overlay-color: #D0D0D0;
    --modal-header-color: #3E3E3E;
}

* {
    color: var(--text-color);
}

body {
    margin: 10px;
    font-size: var(--default-font-size);
    background-color: var(--main-color);
    font-family: Assistant,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

h1, h5, p {
    padding: 0px;
    margin: 0px;
}


nav {
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 8;
}

/* nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} */


.navbar-toggler {
    border: 1px solid var(--border-color);
    height: 35px;
    width: 35px;
    padding: 12px;
    border-radius: 7px;
    background: transparent;
    outline: none;
    background-color: var(--main-color);
    z-index: 8;
}

.navbar-toggler:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}

.navbar-toggler:active{
    border: none;
    border: 1px solid var(--hilight-color);
}

.navbar-toggler-icon {
    display: flex;
    flex-direction:column;
    gap: 2px;
}

.first,
.third {
  border: none;
  border-bottom: 1px solid grey;
}

.second {
  border: none;
  border-bottom: 2px solid grey;
}

.toolbar {
 
    width: 35%;
    height: 35px;
    border-radius: 7px;
    padding: 5px;
    box-shadow: 2px 3px 7px 2px rgb(216, 216, 216);
    display: grid;
    grid-template-columns: 12% 88%;
    column-gap: 5px;
    font-size: 13px !important;
    background-color: var(--main-color);
    z-index: 8;
}

.toolbar:nth-child(odd) {
    border-right: 1px solid lightgrey;
}

.toolbar__left {
    display: flex;
    flex-direction: row;
    border-right: 1px solid lightgrey;
    background: transparent;
}

#lock {
    display: none;
}

#unlock {

}

.toolbar__right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tool {
   width: 35px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;

}

.tool:hover{
    cursor: pointer;
    background-color: var(--hover-color);
    border-radius: 5px;
}

.tool:active{
    border: 1px solid var(--hilight-color);
}

.tool span {
    font-size: 10px;
    position: relative;
    top: 10px;
    color: var(--muted-text-color);
    background-color: transparent;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 10px;
    font-size: 13px !important;

}

.footer__action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    border-radius: 7px;
    background-color: var(--main-color);
    z-index: 8;
}

.footer__action-navigation,
.footer__action-zoom {
    width: fit-content;
    height: 35px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
  
}
.footer__action-navigation span,
.footer__action-zoom span {
    padding: 0px 10px;
    font-size: 15px;
 
}

.prev-page,
.next-page {
    border: none;
    height: inherit;
    background: transparent;
    outline: none;
}

.prev-page {
    border-right: 1px solid var(--border-color);
}

.increase-zoom {
    border: none;
    height: inherit;
    border-right: 1px solid var(--border-color);
    background: transparent;
    outline: none;
}

.decrease-zoom {
    border: none;
    height: inherit;
    border-left: 1px solid var(--border-color);
    background: transparent;
    outline: none;
}

.prev-page:hover,
.increase-zoom:hover {
    background-color:  var(--hover-color);
    cursor: pointer;
    
}

.next-page:hover,
.decrease-zoom:hover {
    background-color:  var(--hover-color);
    cursor: pointer;
}


.prev-page:active,
.increase-zoom:active {
    border: none;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid var(--hilight-color);

}
.next-page:active,
.decrease-zoom:active {
    border: none;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid var(--hilight-color);
}


.maincontainer {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.maincontainer .home,
.maincontainer .about,
.maincontainer .connect,
.maincontainer .experience,
.maincontainer .skills,
.maincontainer .projects
{
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.maincontainer .main-content{
    max-width: 1000px;
    padding: 20px;
}

.sidetoolbar {
    margin-top: 10px;
    width: 16%;
    min-height: 470px;
    border-radius: 7px;
    border: 1px solid rgb(230, 228, 228);
    position: absolute;
    padding: 10px;
    box-shadow: 2px 1px 5px 3px rgb(240, 240, 240, 0.6);
    display: none;
    grid-template-rows: 45% 25% 30%;
    font-size: 15px !important;
    background-color: var(--main-color);
    z-index: 8;
}

.sidetoolbar > div:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

.settings > div,
.social__item,
.profile__item {
    border: none !important;
    padding: 8px 10px;
    border-radius: 7px;
}

.background {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: center;
    position: relative;
}

.background input {
    width: 80%;
    height: 30px;
    outline: none;
    background: transparent;
    border: 1px solid lightgrey;
    border-radius: 7px;
    padding: 0px 7px;
}

.background input:focus {
    border: 1px solid blue;
}

.background button {
    width: 30px;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 7px;
    background: transparent;
    outline: none;
}

.language__selection:hover,
.background button:hover {
    cursor: pointer;
}

.language__selection {
    width: 100%;
    height: 30px;
    outline: none;
    padding: 2px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid lightgrey;
}

.language__selection:focus {
    border: 1px solid blue;
}

.sitemode{
    height: 15px;
    width: 90%;
    border: none;
    border-radius: 7px;
    padding: 2px;
    margin-top: 10px;
    background: transparent;
    z-index: 1;
}


.social__item:hover,
.profile__item:hover,
.sitemode:hover{
    background-color:  var(--hover-color);
    cursor: pointer;
}

.shortcut__text {
    color: var(--muted-text-color) !important;
    float: right;
}

.colorPicker {
    top: 50%;
    left: 20%;
    display: none;
    gap: 3px;
    width: 90%;
    border-radius: 7px;
    padding: 10px !important;
    position: absolute;
    background-color: var(--main-color);
    box-shadow: 2px 3px 7px 2px rgb(216, 216, 216);
    grid-template-columns: auto auto auto auto auto;
}

.colorPicker__pad {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}

.colorPicker__pad:hover {
    cursor: pointer;
}

.colorPicker__pad-active{
    border: 1px solid var(--hilight-color) !important;
}

.home {
    width: 100%;
    height: 650px;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home > p {
    padding: 0px;
    margin: 0px;
}

.firstline {
    color: var(--muted-text-color);
}

.secondline {

    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: var(--text-color);
}

.secondline > p {
    margin: 0;
    padding: 0;
}

.home .wordlist {
    text-align: center;
}

.roles {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 150px;
    margin: 0px 10px;
    overflow: hidden;
}

.roles > p {
    margin: 0;
    padding:0;
}

.roles > p:first-child {
    animation: role-animation 15s infinite;
}

.about {
    /* padding: 5%; */
}

.about__bg {
    background-color: red;;
}

.profile-pic {
    height: 90%;
    width: 80%;
    border-radius: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 15px;
    background-color: #F6f5fd;
}

.description__animation {
    animation: animate-description 1s ease-in-out;
}

.profile__pic-animation {
    animation: animate-profile 1s ease-in-out;
}

.profile-pic img {
    height: 80%;
    width: 90%;
}

.profile-pic > p {
    margin: 0;
    padding: 0;
}

.about__first-section {
    height: 600px;
}

.first__section-content {
    display: grid;
    place-items: center;
    grid-template-columns: 30% 65%;
    column-gap: 5%;
}

.about__Second-section {
    display: grid;
    column-gap: 5%;
    row-gap: 5%;
    margin: 25%;
    display: grid;
    place-items: center;
    padding: 25px 0px;
    min-height: 700px;
    grid-template-columns: repeat(2, 250px);
    grid-auto-rows: 200px;
}

.about__Second-section > div {
    padding: 10px;
} 

.about__third-section {
    min-height: 700px;
}

.about__fourth-section {
    min-height: 700px;
    position: relative;
    
}

.third__section-content {
    display: grid;
    place-items: center;
    grid-template-columns: 55% 40%;
    column-gap: 5%;
}

.design,
.deploy
 {
    position: relative;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animate_design_deploy 1s ease-in-out
}

.develop,
.research {
    position: relative;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animate_research_develpop 1s ease-out
}

@keyframes animate_design_deploy {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes animate_research_develpop {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.design .slide,
.develop .slide,
.deploy .slide,
.research .slide {

    width: 100%;
    height: 200px;
    transition: 0.5s;
}

.develop .slide.slide1,
.research .slide.slide1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .7s;
    border-radius: 7px 7px 0 0;
    transform: translateX(0px);
    background-color: #f6f5fd;

}

/* .develop:hover .slide.slide1,
.research:hover .slide.slide1{

    cursor: pointer;
    transform: translateX(-100px);

} */


.design .slide.slide1,
.deploy .slide.slide1{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .7s;
    border-radius: 7px 7px 0 0;
    transform: translateX(0px);
    /* background-color: var(--muted-text-color); */
    background-color: #f6f5fd;

}

/* .design:hover .slide.slide1,
.deploy:hover .slide.slide1{

    cursor: pointer;
    transform: translateX(-150px);

} */

.develop .slide.slide2 ,
.research .slide.slide2 {

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: .8s;
    border-radius: 0 0 7px 7px;
    transform: translateX(0px);
    

    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    /* box-shadow: 2px 3px 5px 2px rgb(0, 0, 0, 0.4); */

}

.develop:hover .slide.slide2,
.research:hover .slide.slide2{

    cursor: pointer;
    transform: translateX(-250px);

}

.design .slide.slide2 ,
.deploy .slide.slide2 {

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: .8s;
    border-radius: 0 0 7px 7px;
    transform: translateX(0px);
    

    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    /* box-shadow: 2px 3px 5px 2px rgb(0, 0, 0, 0.4); */

}

.design:hover .slide.slide2,
.deploy:hover .slide.slide2{

    cursor: pointer;
    transform: translateX(250px);

}

.section:nth-child(odd) .anoutme{
    opacity: 0px;
    text-align: center;
    color: var(--muted-text-color);
    animation: animate-aboutme 700ms ease-out;
}


.section:nth-child(even) .anoutme{
    opacity: 0px;
    color: var(--muted-text-color);
    animation: animate-aboutme 700ms ease-out;
}

.section:nth-child(even) .anoutme span::after {
    content: '';
    width: 200px;
    height: 1px;
    position: absolute;
    background-color: var(--border-color);
    margin-top: 1.5%;
    left: 25%;
}


.skills__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.skills__right,
.skills__left {
    display:flex;
    gap: 5px;
    flex-direction: column;
    
}

.skills__left > div,
.skills__right > div {
    transition: transform 1s;
}

.skills__left > div:hover,
.skills__right > div:hover {
    cursor: pointer;
   transform: scale(1);
}


.skills__middle > div,
.skills__right > div,
.skills__left > div {
    height: 100px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills__middle > div:nth-child(even),
.skills__left > div:nth-child(odd),
.skills__right > div:nth-child(odd) {
    background-color: red;
}

.thrid__section-emoji {
    transform: rotate(90deg);
}

/* Tab section style start here */
/* .experience {
    position: relative;
    width: 100%;
    height: 100%;
} */

.tab {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .tab1,
  .tab2,
  .tab3 {
    border-left: 1px solid gray;
  }
  
  .tab__title {
    padding: 10px;
  }
  
  .tab__title:hover {
    background-color: var(--hover-color);
    color: var(--tab-color) !important;
  }
  
  .tab div {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .tab div:hover {
    cursor: pointer;
  }
  
  .content {
    position: absolute;
    top: 10px;
    left: 80px;
    background-color: transparent !important;
  }
  
  .selected-tab {
    border-width: 2px;
  }
  
  @media (max-width: 400px) {
    .content {
      position: absolute;
      top: 60px;
      left: 10px;
    }
  
    .tab {
      display: flex;
      flex-direction: row;
    }
  
    .tab1,
    .tab2,
    .tab3 {
      border: none;
      border-bottom: 1px solid gray;
    }
  }

  /* Tab section style end here */

  /* Experience section style start */
  .experience__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .experience__event {
    height: 100px;
    width: 50%;
    background-color: transparent;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    position: relative;
  }
  

  .experience__event:nth-child(2n + 1) {
    flex-direction: row-reverse;
  }

  .experience__desc {
    height: 100%;
    width: calc(100% - 60px - 30%);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
    box-shadow:  2px 3px 7px 2px rgb(216, 216, 216);
    font-size: medium;
  }
  
  .Joining__date {
    height: 100%;
    width: calc(100% - 60px - 70%);
    background-color: var(--tab-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  2px 3px 7px 2px rgb(216, 216, 216);
  }
  
  .org__icon {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 10px;
    border-radius: 50%;
    background-color: #dadada;
    position: relative;
  }
  
  .experience__event:not(:last-child):nth-child(2n + 1) .org__icon::before {
    content: '';
    width: 2px;
    height: 50px;
    background: #ad3e16;
    position: absolute;
    top: 100%;
    left: 50%;
    right: auto;
    z-index: -4;
    transform: translateX(-50%);
  }
  
  .experience__event:not(:last-child) .org__icon::before {
    content: '';
    width: 2px;
    height: 50px;
    background: rgb(6, 158, 69);
    position: absolute;
    top: 100%;
    left: 50%;
    right: auto;
    z-index: -1;
    transform: translateX(-50%);
  }
  
  .experience__event:nth-child(2n + 1) .org__icon::after {
    content: '';
    width: 20px;
    height: 2px;
    background: #2196f3;
    position: absolute;
    right: 100%;
    z-index: -4;
    top: 50%;
    left: auto;
    /* transform: translateY(-50%);
    /* -webkit-animation: fillLeft 2s forwards 4s ease-in-out;
    animation: fillLeft 2s forwards 4s ease-in-out; */
  }
  
  .org__icon::after {
    content: '';
    width: 100px;
    height: 2px;
    background: red;
    position: absolute;
    z-index: -4;
    top: 50%;
    left: 0%;
    /* transform: translateY(-50%);
    /* -webkit-animation: fillLeft 2s forwards 4s ease-in-out;
    animation: fillLeft 2s forwards 4s ease-in-out; */
  }

  .company__logo {
    width: 50px;
    height: 40px;
    aspect-ratio: auto;
    object-fit: contain;
}


.popout__logo {
    width: 30px;
    height: 30px;
    position: relative;
    top: -40px;

    aspect-ratio: auto;
    object-fit: contain;
}

.popout__logo:hover {
    cursor: pointer;
    color: var(--tab-color)
}
/* Experience section style end */

/* modal style start here */
.modal-popup {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 700px;
    width: 70%;
    height: 55%;
    background-color: var(--main-color);
    display: none;
    grid-template-rows: 25% 65% 10%;
    place-items: center;
    z-index: 8;
    border-radius: 7px;
    box-shadow: 2px 3px 7px 2px rgb(216, 216, 216);
    transform: translate(-50%, -50%);
    animation: animate-pop-up 1s ease-in-out;
}

.modal-popup .modal__header > h1 {
    margin-top: 80px;
}

.modal-popup .modal__header > button {
    height: 50px;
    width: 50px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: xx-large;
    background-color: transparent;
}

.modal-popup .modal__header > button :hover {
    cursor: pointer;
}

.modal__header {
    display: grid;
    height: 100%;
    width: 90%;
    grid-template-columns: 90% 10%;
    border-bottom: 1px solid var(--border-color);
    color: var(--modal-header-color) !important;
}

.modal__header-left {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
}

.modal__body {
    padding: 10px;
    width: 90%;
}

/* modal style start end */

.projectlist {
    list-style: none;
    height: 400px;
}

.project {
    position: relative;
    display: grid;
    grid-template-columns: 60% 40%;
}

.project__details {
    position: relative;
    z-index: 4;
    width: 500px;
    left: -70%;
}

.project__details > h5 {
    padding-bottom: 10px !important;
    text-align: right;
}

.project__demo {
    position: relative;
    max-width: 550px;
    height: 400px;
}

.project__demo video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.project-demo video {
    background-color: lightgreen;
    border-radius: var(--border-radius);
    vertical-align: middle;
}

.project__demo a {
    position: relative;
}

/* .project-demo a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: 3;
    transition: red;
    background-color: lightblue;
    mix-blend-mode: screen;
} */

.project-description {
    height: 200px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 3px 7px 2px rgb(216, 216, 216);
}

.image-container {
    position: absolute;
    left: 0;
    right: 0;
    width: 500px;
    /* max-width: 510px;   */
    height: 400px;
    overflow: hidden; 
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: 2px 3px 7px 2px rgb(216, 216, 216);
    

}

.image-container img {
    position: relative;
    left: 0;
    top: 0;
    height: inherit;
    max-width: inherit;
    padding: 10px;
    transition: 1.5s;
    border-radius: 7px;

}

.overlay {
    position: absolute;
    left:0px;
    top: 0px;
    background-color: red;
    width: 550px;
    
}

.image-container:hover ~ .overlay {
    /* display: block;
    z-index: 1; */
    /* height: 400px; */
    animation: height-animate 1s ease-in alternate;
}

@keyframes height-animate {
    0% {
        height: 0px;
    }
    100% {
        height: 400px;
    }
}

/* .image-container img:hover ~ .overlay {
    display: block;
} */

.arrow {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid var(--tab-color);
  }

  

@keyframes animate-pop-up {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

@keyframes left_right_animation {
    0% {
        transform: scaleZ(1);
    }
    100% {
        transform: scaleZ(2);
    }
}

@keyframes animate-aboutme {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes role-animation {
    
    0% {
        margin-top: 0;
        opacity: 1;
    }
    14% {
        margin-top: -130px; 
        opacity: 0;
    }
    28% {
        margin-top: -265px; 
        opacity: 1;
    }
    42% {
        margin-top: -400px; 
        opacity: 0;
    }
    64% {
        margin-top: -265px; 
        opacity: 1;
    }
    90% {
        margin-top: -130px;
        opacity: 1;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes animate-description {
    0% {
        transform: translateX(500px);
        opacity: 0;
    }
    100% {
        transform: translateX( 0px);
        opacity: 1;
    }
}

@keyframes animate-profile {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        transform: translateX( 0px);
        opacity: 1;
    }
}

